* {
    box-sizing: border-box;
    /* overflow: hidden; */
}

#main-div {
    padding: 0;
    height: 100rem;
    background-color: rgb(217, 217, 235);
    background-image: url('../image/stefan-stefancik--g7axSVst6Y-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.Row1 {
    /* background-color: blue; */
    height: 20rem;
    margin: 0;
    padding: 0 13rem;
}

.Row1 nav {
    background-color: rgba(255, 255, 255, 0.438);
}

.Row2 {
    height: 30rem;
    padding: 0 13rem;
    margin: 0;
}

.profile {
    background-color: rgba(255, 255, 255, 0.774);
    margin: 0;
}

.profileBox {
    overflow: hidden;
}
.informationProfile{
    width: 70%;
}
.ifoBox {
    width: 100%;
}

.profileBox img {
    height: 15rem;
    border-radius: 50%;
}

.iconProfile a>i {
    font-size: 1.2rem;
    padding: .5rem;
    color: #333;
}

.iconProfile a>i:hover {
    font-size: 1.4rem;
    color: #555;
}

.Row3 {
    background-color: yellow;
    height: 10rem;
    margin: 0;

}

.Row4 {
    background-color: orangered;
    height: 10rem;
    margin: 0;

}

.Row5 {
    background-color: green;
    height: 10rem;
    margin: 0;

}

/* ------------------------------------------------------- */
@media (max-width:578px) {
    #main-div {
        background-image: none;
        background-size: 100% 33rem;
    }

    .Row1 {
        padding: 12px;
        margin: 0;
        height: 15rem;

    }

    .Row2 {
        padding: 12px;
        height: 38rem;
    }
}

/* --------------------------------------- */
@media (min-width:576px) {
    .Row1 {
        padding: 0;
    }

    .Row2 {
        padding: 12px;
    }
}

/* -------------------------------- */
@media (min-width:768px) {
    .Row1 {
        padding: 0;
        margin: 0;
        height: 15rem;
    }

    .Row2 {
        padding: 0;
        margin: 5rem;
    }

    #navbarDiv {
        padding: 0;
    }
}


/* -------------------------------- bg-blur from abolfazl */
.bg-blur {
    background: transparent;
    backdrop-filter: blur(18px);
}