.myContiner {
    height: 100rem;
    padding: 0;
    margin: 0;
}

.myHeader {
    background-image: url('../image/earth-1756274.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 30rem;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}